appdirs==1.4.4
astroid==2.4.2
attrs==20.2.0
cached-property==1.5.2
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
defusedxml==0.6.0
distlib==0.3.1
Django==1.11.6
filelock==3.0.12
gunicorn==20.0.4
idna==2.10
isodate==0.6.0
isort==5.5.3
lazy-object-proxy==1.4.3
lxml==4.5.2
mccabe==0.6.1
pbr==5.5.0
PyJWT==1.7.1
pylint==2.6.0
pytz==2020.1
requests==2.24.0
requests-toolbelt==0.9.1
six==1.15.0
stevedore==3.2.2
toml==0.10.1
twilio==6.45.4
urllib3==1.25.10
virtualenv==20.0.31
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
virtualenvwrapper-win==1.2.6
whitenoise==5.2.0
wrapt==1.12.1
zeep==3.4.0
